{% extends 'back/master.html' %}

{% load static %}

{% block contentblock %}
                    
<!-- Page content -->
<div id="page-content">
        <!-- Forms General Header -->
        <div class="content-header">
            <div class="header-section">
                <h1>
                    <i class="gi gi-notes_2"></i>Profile Settings:<br>Set your profile here..<small></small>
                </h1>
            </div>
        </div>
        <ul class="breadcrumb breadcrumb-top">
            <li>Profile</li>
            <li><a href="/panel/about/setting/">Settings</a></li>
        </ul>
        <!-- END Forms General Header -->

        <div class="row">
            <div class="col-md-12">
                <!-- Basic Form Elements Block -->
                <div class="block">
                    <!-- Basic Form Elements Title -->
                    <div class="block-title">
                        <h2><strong>Edit</strong> Profile</h2>
                    </div>
                    <!-- END Form Elements Title -->

                    <!-- Basic Form Elements Content -->
                    <form action="{% url 'about_setting'%}" method="post" enctype="multipart/form-data" class="form-horizontal form-bordered">
                        {% csrf_token %}
                        
                        <fieldset>
                            
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <textarea id="text" name="text" class="ckeditor">{{about.about}} </textarea>
                                </div>
                            </div>
                            
                        </fieldset>

                        <div class="form-group">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-angle-right"></i> Update</button>
                                </div>
                        </div>
                            
                        
                    </form>

                   
                </div>
                <!-- END Basic Form Elements Block -->
            </div>
           
        </div>

        
    </div>
<!-- END Page Content -->
 


{% endblock %}

{% block ckeditorblock %}
<!-- load ckeditor -->
<script src="{% static 'back/js/helpers/ckeditor/ckeditor.js' %}"></script>
{% endblock %}

{% block javascriptblock %}
<!-- Load and execute javascript code used only in this page -->
<script src="{% static 'back/js/pages/tablesDatatables.js' %}"></script>
<script>$(function(){ TablesDatatables.init(); });</script>
{% endblock %}