{% extends 'back/master.html' %}

{% load static %}

{% block contentblock %}
                    
<!-- Page content -->
<div id="page-content">
    <!-- Datatables Header -->
    <div class="content-header">
        <div class="header-section">
            <h1>
                <i class="fa fa-table"></i>Black List <br><small>You can add, edit and delete your data.</small>
            </h1>
        </div>
    </div>
    <ul class="breadcrumb breadcrumb-top">
        <li>Black List</li>
        <li><a href="/panel/black/list/">Black List</a></li>
        <li><a href="#">Add New Black List</a></li>
        <li><a href="/">Home</a></li>
    </ul>
    <!-- END Datatables Header -->
    <div class="row">
        <div class="col-md-12">
            <!-- Basic Form Elements Block -->
            <div class="block">
                <!-- Basic Form Elements Title -->
                <div class="block-title">
                    <h2><strong>Add</strong> Blacklist</h2>
                </div>
                <!-- END Form Elements Title -->

                <!-- Basic Form Elements Content -->
                <form action="{% url 'ip_add' %}" method="post" enctype="multipart/form-data" class="form-horizontal form-bordered">
                    {% csrf_token %}
                    <div class="form-group">
                            <div class="col-md-6">
                                <input type="text" id="ip" name="ip" class="form-control" placeholder="new IP Address" required>
                            </div><br><br>
                         
                       
                    <div class="form-group">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-angle-right"></i> Add IP</button>
                            </div>
                    </div>
                        
                    
                </form>

               
            </div>
            <!-- END Basic Form Elements Block -->
        </div>
       
    </div>

<!-- Datatables Content -->
<div class="block full">
<div class="block-title">
<h2><strong>Black </strong>List Datatables</h2>
</div>
<p><a href="/panel/black/list/" target="_blank">Black List Tables</a> is a table used to generate list of user IP's in the database. Here you can dynamically, add, edit and delete user's IPs in your database.</p>

<div class="table-responsive">
<table id="example-datatable" class="table table-vcenter table-condensed table-bordered">
    <thead>
        <tr>
            <th class="text-center">ID</th>
            <th>IP Address</th>
            <th class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        <!-- loop through the db to show data in the datatable -->
        {% for l in ip %}
        <tr>
            <td class="text-center">{{l.pk}}</td>
            <th>{{l.ip}}</th>
            <td class="text-center">
                <div class="btn-group">
                    <a href="{% url 'ip_del' pk=l.pk%}" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger"><i class="fa fa-times">Del</i></a>
                </div>
            </td>
        </tr>

        {% endfor %}
        
    </tbody>
</table>
</div>
</div>
<!-- END Datatables Content -->
</div>
<!-- END Page Content -->
 

{% endblock %}



{% block javascriptblock %}
<!-- Load and execute javascript code used only in this page -->
<script src="{% static 'back/js/pages/tablesDatatables.js' %}"></script>
<script>$(function(){ TablesDatatables.init(); });</script>
{% endblock %}