{% extends 'back/master.html' %}

{% load static %}



{% block contentblock %}
                    
<!-- Page content -->
<div id="page-content">
    <!-- Datatables Header -->
    <div class="content-header">
        <div class="header-section">
            <h1>
                <i class="fa fa-table"></i>Categories Datatable<br><small>You can add, edit and delete your data.</small>
            </h1>
        </div>
    </div>
    <ul class="breadcrumb breadcrumb-top">
        <li>Category</li>
        <li><a href="/panel/category/list/">View List</a></li>
        <li><a href="/panel/category/add/">New Category</a></li>
        <li><a href="/">Home</a></li>
    </ul>
    <!-- END Datatables Header -->

<!-- Datatables Content -->
<!-- export data -->
<div class="block full">
    <div class="block-title">
    <h2><strong>Export</strong>Data</h2>
    </div>
    
    <div class="table-responsive">
        <div class="btn-group">
            <a href="{% url 'export_cat_csv' %}" data-toggle="tooltip" title="export csv file" class="btn btn-md btn-success"><i class="fa fa-angle-double-down"> download file</i></a>
        </div>
    </div>
    </div>

<!-- import data -->
<div class="block full">
    <div class="block-title">
    <h2><strong>Import</strong>Data</h2>
    </div>
    
    <div class="table-responsive">
        <form action="{% url 'import_cat_csv' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="csv_file" id="csv_file"><br><br>
    
            <button type="submit" class="btn btn-primary"><i class="fa fa-angle-double-up"> upload</i></button>
        </form>
        
        
    </div>
    </div>

<div class="block full">
<div class="block-title">
<h2><strong>Categories</strong>Datatables</h2>
</div>
<p><a href="/panel/category/list/" target="_blank">Categories DataTables</a> is a table used to generate list of Categories in the database. Here you can dynamically, add, edit and delete news item in your database.</p>

<div class="table-responsive">
<table id="example-datatable" class="table table-vcenter table-condensed table-bordered">
    <thead>
        <tr>
            <th class="text-center">ID</th>
            <th>Title</th>
            <th>Status</th>
            <th class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        <!-- loop through the db to show data in the datatable -->
        {% for l in cat %}
        <tr>
            <td class="text-center">{{l.pk}}</td>
            <th>{{l.name.title}}</th>
            {% if l.act == 0 %}
            <td>Pending...</td>
            {% elif l.act == 1 %}
            <td>Approved</td>
            {% endif %}
            <td class="text-center">
                <div class="btn-group">
                    <a href="{% url 'cat_del' pk=l.pk%}" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger"><i class="fa fa-times">Del</i></a>

                    {% if perms.main.masteruser %}
                    {% if l.act == 0 %}
                    <a href="{% url 'cat_publish' pk=l.pk %}" data-toggle="tooltip" title="unpublish" class="btn btn-xs btn-info"><i class="fa fa-times">Not approved</i></a>
                    {% else %}
                    <a href="{% url 'cat_publish' pk=l.pk %}" data-toggle="tooltip" title="publish" class="btn btn-xs btn-success"><i class="fa fa-times">Approved</i></a>
                    {% endif %}
                    {% endif %}
                </div>
            </td>
        </tr>

        {% endfor %}
        
    </tbody>
</table>
</div>
</div>
<!-- END Datatables Content -->
</div>
<!-- END Page Content -->
 

{% endblock %}



{% block javascriptblock %}
<!-- Load and execute javascript code used only in this page -->
<script src="{% static 'back/js/pages/tablesDatatables.js' %}"></script>
<script>$(function(){ TablesDatatables.init(); });</script>
{% endblock %}