{% extends 'back/master.html' %}

{% load static %}


{% block contentblock %}
                    
<!-- Page content -->
<div id="page-content">
        <!-- Forms General Header -->
        <div class="content-header">
            <div class="header-section">
                <h1>
                    <i class="gi gi-key"></i>Change Password:<br>You can change your password here...<small></small>
                </h1>
            </div>
        </div>
        <ul class="breadcrumb breadcrumb-top">
            <li>Change</li>
            <li><a href="/panel/change/pass/">Password</a></li>
        </ul>
        <!-- END Forms General Header -->

        <div class="row">
            <div class="col-md-12">
                <!-- Basic Form Elements Block -->
                <div class="block">
                    <!-- Basic Form Elements Title -->
                    <div class="block-title">
                        <h2><strong>Change</strong> Password</h2>
                    </div>
                    <!-- END Form Elements Title -->

                    <!-- Basic Form Elements Content -->
                    <form action="{% url 'change_pass' %}" method="post" enctype="multipart/form-data" class="form-horizontal form-bordered">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="col-md-4">
                                <input type="password" id="oldpass" name="oldpass" value="" class="form-control" placeholder="Old Password">
                                    
                            </div>
                            <div class="col-md-4">
                                <input type="password" id="newpass" name="newpass" value="" class="form-control" placeholder="New Password">
                                    
                            </div>
                        </div>
                             
                           
                        <div class="form-group">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-angle-right"></i> Change Password</button>
                                </div>
                        </div>
                            
                        
                    </form>

                   
                </div>
                <!-- END Basic Form Elements Block -->
            </div>
           
        </div>

        
    </div>
<!-- END Page Content -->
 


{% endblock %}



{% block javascriptblock %}
<!-- Load and execute javascript code used only in this page -->
<script src="{% static 'back/js/pages/tablesDatatables.js' %}"></script>
<script>$(function(){ TablesDatatables.init(); });</script>
{% endblock %}