{% extends 'back/master.html' %}

{% load static %}



{% block contentblock %}
                    
<!-- Page content -->
<div id="page-content">
    <!-- Datatables Header -->
    <div class="content-header">
        <div class="header-section">
            <h1>
                <i class="fa fa-table"></i>Comment List<br><small>You can add, edit and delete your data.</small>
            </h1>
        </div>
    </div>
    <ul class="breadcrumb breadcrumb-top">
        <li>Comment</li>
        <li><a href="/panel/comments/list/">List</a></li>
        <li><a href="/">Home</a></li>
    </ul>
    <!-- END Datatables Header -->

<!-- Datatables Content -->
<div class="block full">
<div class="block-title">
<h2><strong>Comment</strong>List</h2>
</div>
<p><a href="/panel/comments/list/" target="_blank">Comment List Table</a> is a table used to generate list of comments in the database. Here you can dynamically, edit and delete comments in your database.</p>

<div class="table-responsive">
<table id="example-datatable" class="table table-vcenter table-condensed table-bordered">
    <thead>
        <tr>
            <th class="text-center">ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Comments</th>
            <th>Date</th>
            <th>Status</th>
            <th class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        <!-- loop through the db to show data in the datatable -->
        {% for list in comment %}
        <tr>
            <td class="text-center">{{list.pk}}</td>
            <th>{{list.name.title}}</th>
            <td>{{list.email}}</td>
            <td>{{list.comment}}</td>
            <td>{{list.date}}</td>
            {% if list.status == 0 %}
            <td>Pending...</td>
            {% elif list.status == 1%}
            <td>Confirmed!</td>
            {% endif %}
           
            <td class="text-center">
                <div class="btn-group">
                    <a href="{% url 'comments_confirmed' pk=list.pk %}" data-toggle="tooltip" title="confirmed" class="btn btn-xs btn-default"><i class="fa fa-pencil">Confirmed</i></a>
                    <a href="{% url 'comments_del' pk=list.pk %}" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger"><i class="fa fa-times">Del</i></a>
                    
                </div>
            </td>
        </tr>

        {% endfor %}
        
    </tbody>
</table>
</div>
</div>
<!-- END Datatables Content -->
</div>
<!-- END Page Content -->
 

{% endblock %}



{% block javascriptblock %}
<!-- Load and execute javascript code used only in this page -->
<script src="{% static 'back/js/pages/tablesDatatables.js' %}"></script>
<script>$(function(){ TablesDatatables.init(); });</script>
{% endblock %}