{% extends 'back/master.html' %}

{% load static %}



{% block contentblock %}
                    
<!-- Page content -->
<div id="page-content">
    <!-- Datatables Header -->
    <div class="content-header">
        <div class="header-section">
            <h1>
                <i class="fa fa-table"></i>Contact List<br><small>You can add, edit and delete your data.</small>
            </h1>
        </div>
    </div>
    <ul class="breadcrumb breadcrumb-top">
        <li>Messages</li>
        <li><a href="/panel/contact/show/">Contact List</a></li>
        <li><a href="/contact">Add New</a></li>
        <li><a href="/">Home</a></li>
    </ul>
    <!-- END Datatables Header -->

<!-- Datatables Content -->
<div class="block full">
<div class="block-title">
<h2><strong>Contact</strong>Show</h2>
</div>
<p><a href="/panel/contact/show/" target="_blank">Contact DataTables</a> is a table used to generate your contact list in the database. Here you can dynamically, add, edit and delete messages in your database.</p>

<div class="table-responsive">
<table id="example-datatable" class="table table-vcenter table-condensed table-bordered">
    <thead>
        <tr>
            <th class="text-center">ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Message</th>
            <th>Date</th>
            <th class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        <!-- loop through the db to show data in the datatable -->
        {% for list in msg %}
        <tr>
            <td class="text-center">{{list.pk}}</td>
            <th>{{list.name.title}}</th>
            <td>{{list.mymail}}</td>
            <td>{{list.txt | linebreaks}}</td>
            <td>{{list.date}}</td>
            <td class="text-center">
                <div class="btn-group">
                    <a href="{% url 'reply_cm' pk=list.pk %}" data-toggle="tooltip" title="Reply" class="btn btn-xs btn-secondary"><i class="fa fa-fax">reply</i></a>
                    <a href="{% url 'contact_del' pk=list.pk %}" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger"><i class="fa fa-times">Del</i></a>
                </div>
            </td>
        </tr>

        {% endfor %}
        
    </tbody>
</table>
</div>
</div>
<!-- END Datatables Content -->
</div>
<!-- END Page Content -->
 

{% endblock %}



{% block javascriptblock %}
<!-- Load and execute javascript code used only in this page -->
<script src="{% static 'back/js/pages/tablesDatatables.js' %}"></script>
<script>$(function(){ TablesDatatables.init(); });</script>
{% endblock %}