{% extends 'back/master.html' %}

{% load static %}

{% block headblock %}
<script>
    function goback() {
        window.history.back();
    }
</script>
{%endblock%}

{% block contentblock %}
                    
<!-- Page content -->
<div id="page-content">
        <!-- Forms General Header -->
        <div class="content-header">
            <div class="header-section">
                <h1>
                    <i class="gi gi-notes_2"></i>Error:<br>{{error}}<small></small>
                </h1>
                <br>
                <button onclick="goback()" class="btn btn-primary">back</button>
            </div>
        </div>
        
        <!-- END Forms General Header -->

        <ul class="breadcrumb breadcrumb-top">
            
            <li><a href="/panel/"><i class="fa fa-home fa-fw pull-left"></i>Dashboard</a></li>
        
        </ul>

              
    </div>
<!-- END Page Content -->
 


{% endblock %}



{% block javascriptblock %}
<!-- Load and execute javascript code used only in this page -->
<script src="{% static 'back/js/pages/tablesDatatables.js' %}"></script>
<script>$(function(){ TablesDatatables.init(); });</script>
{% endblock %}