{% extends 'back/master.html' %}

{% load static %}



{% block contentblock %}

                    
<!-- Page content -->
<div id="page-content">
    <!-- Datatables Header -->
    <!-- Add Group Contents -->
<div id="page-content">

    <div class="row">
        <div class="col-md-12">
            <!-- Basic Form Elements Block -->
            <div class="block">
                <!-- Basic Form Elements Title -->
                <div class="block-title">
                    <h2><strong>Add</strong> Group's Permission</h2>
                </div>
                <!-- END Form Elements Title -->

                <!-- Basic Form Elements Content -->
                <form action="{% url 'groups_permission_add' name=name %}" method="post" enctype="multipart/form-data" class="form-horizontal form-bordered">
                    {% csrf_token %}
                    <div class="form-group">
                            <div class="col-md-6">
                                <select id="pname" name="pname" class="select-chosen" data-placeholder="Select a Permission">
                                    {% for i in allperms %}
                                        <option value="{{i.name.title}}">{{i.name.title}}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="col-md-4">
                                <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-angle-right"></i> Add New Group</button>
                            </div>
                                                   
                    </div>
                        
                    
                </form>

               
            </div>
            <!-- END Add User Group -->
        </div>
       
    </div>

    
</div>
<!-- End Add User Group Content -->


<!-- Datatables Content -->
<div class="block full">
<div class="block-title">
<h2><strong>Users</strong>Group's Perrrmission</h2>
</div>
<p><a href="/panel/manage/users/groups/permission/" target="_blank">Users Group's Permission Table </a> is a table used to generate users group's permissions in the database. Here you can dynamically, add, edit and delete users groups in your database.</p>

<div class="table-responsive">
<table id="example-datatable" class="table table-vcenter table-condensed table-bordered">
    <thead>
        <tr>
            <th class="text-center">ID</th>
            <th>Group's Permission Name</th>
            <th class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        <!-- loop through the db to show data in the datatable -->
        {% for list in perms %}
        <tr>
            <td class="text-center">{{list.pk}}</td>
            <th>{{list.name.title}}</th>
            <td class="text-center">
                <div class="btn-group">
                    <a href="{% url 'groups_permission_del' gname=name name=list.name %}" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger"><i class="fa fa-times">Del</i></a>
                </div>
            </td>
        </tr>

        {% endfor %}
        
    </tbody>
</table>
</div>
</div>
<!-- END Datatables Content -->
</div>
<!-- END Page Content -->
 

{% endblock %}



{% block javascriptblock %}
<!-- Load and execute javascript code used only in this page -->
<script src="{% static 'back/js/pages/tablesDatatables.js' %}"></script>
<script>$(function(){ TablesDatatables.init(); });</script>
{% endblock %}
