{% extends 'back/master.html' %}

{% load static %}

{% load humanize %}




{% block contentblock %}

<div class="row">
    <div class="col-sm-6 col-lg-3">
        <!-- Widget -->
        <a href="page_ready_article.html" class="widget widget-hover-effect1">
            <div class="widget-simple">
                <div class="widget-icon pull-left themed-background-autumn animation-fadeIn">
                    <i class="fa fa-file-text"></i>
                </div>
                <h3 class="widget-content text-right animation-pullDown">
                    New <strong>Article</strong><br>
                    <small>Mountain Trip</small>
                </h3>
            </div>
        </a>
        <!-- END Widget -->
    </div>
    <div class="col-sm-6 col-lg-3">
        <!-- Widget -->
        <a href="page_comp_charts.html" class="widget widget-hover-effect1">
            <div class="widget-simple">
                <div class="widget-icon pull-left themed-background-spring animation-fadeIn">
                    <i class="gi gi-usd"></i>
                </div>
                <h3 class="widget-content text-right animation-pullDown">
                    + <strong>250%</strong><br>
                    <small>Sales Today</small>
                </h3>
            </div>
        </a>
        <!-- END Widget -->
    </div>
    <div class="col-sm-6 col-lg-3">
        <!-- Widget -->
        <a href="page_ready_inbox.html" class="widget widget-hover-effect1">
            <div class="widget-simple">
                <div class="widget-icon pull-left themed-background-fire animation-fadeIn">
                    <i class="gi gi-envelope"></i>
                </div>
                <h3 class="widget-content text-right animation-pullDown">
                    5 <strong>Messages</strong>
                    <small>Support Center</small>
                </h3>
            </div>
        </a>
        <!-- END Widget -->
    </div>
    <div class="col-sm-6 col-lg-3">
        <!-- Widget -->
        <a href="page_comp_gallery.html" class="widget widget-hover-effect1">
            <div class="widget-simple">
                <div class="widget-icon pull-left themed-background-amethyst animation-fadeIn">
                    <i class="gi gi-picture"></i>
                </div>
                <h3 class="widget-content text-right animation-pullDown">
                    +30 <strong>Photos</strong>
                    <small>Gallery</small>
                </h3>
            </div>
        </a>
        <!-- END Widget -->
    </div>

</div>

<p>Hello {{user.username}}</p>

{{ rand | naturaltime }}

{% endblock %}

{% block javascriptblock %}
<script src="{% static 'back/js/pages/index.js' %}"></script>
<script>$(function(){ Index.init(); });</script>
{% endblock %}