{% extends 'back/master.html' %}

{% load static %}



{% block contentblock %}
                    
<!-- Page content -->
<div id="page-content">
    <!-- Datatables Header -->
    <div class="content-header">
        <div class="header-section">
            <h1>
                <i class="fa fa-table"></i>Manage User Datatable<br><small>You can add, edit and delete your data.</small>
            </h1>
        </div>
    </div>
    <ul class="breadcrumb breadcrumb-top">
        <li>Manage</li>
        <li><a href="/panel/manage/user/list/">Users List</a></li>
        <li><a href="">Add New User</a></li>
        <li><a href="/">Home</a></li>
    </ul>
    <!-- END Datatables Header -->

<!-- Datatables Content -->
<div class="block full">
<div class="block-title">
<h2><strong>Manage</strong>Users</h2>
</div>
<p><a href="/panel/manage/user/list/" target="_blank">Users DataTables</a> is a table used to generate list of registered users in the database. Here you can dynamically, add, edit and delete news item in your database.</p>

<div class="table-responsive">
<table id="example-datatable" class="table table-vcenter table-condensed table-bordered">
    <thead>
        <tr>
            <th class="text-center">ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Username</th>
            <th>IP Address</th>
            <th>Location</th>
            <th class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        <!-- loop through the db to show data in the datatable -->
        {% for list in manager %}
        <tr>
            <td class="text-center">{{list.pk}}</td>
            <td>{{list.name.title}}</td>
            <td>{{list.email}}</td>
            <td>{{list.txt}}</td>
            <td>{{list.ip}}</td>
            <td>{{list.country}}</td>
            <td class="text-center">
                <div class="btn-group">
                    <a href="{% url 'users_groups' pk=list.pk %}" data-toggle="tooltip" title="Group" class="btn btn-xs btn-default"><i class="fa fa-pencil">Group</i></a>
                    <a href="{% url 'users_with_permission' pk=list.pk %}" data-toggle="tooltip" title="permission" class="btn btn-xs btn-default"><i class="fa fa-pencil">Permission</i></a>
                    <a href="{% url 'manageuser_del' pk=list.pk %}" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger"><i class="fa fa-times">Del</i></a>
                </div>
            </td>
        </tr>

        {% endfor %}
        
    </tbody>
</table>
</div>
</div>
<!-- END Datatables Content -->
</div>
<!-- END Page Content -->
 

{% endblock %}



{% block javascriptblock %}
<!-- Load and execute javascript code used only in this page -->
<script src="{% static 'back/js/pages/tablesDatatables.js' %}"></script>
<script>$(function(){ TablesDatatables.init(); });</script>
{% endblock %}