{% extends 'back/master.html' %}

{% load static %}



{% block contentblock %}

                    
<!-- Page content -->
<div id="page-content">
    <!-- Datatables Header -->
    <!-- Add Group Contents -->
<div id="page-content">

    <div class="row">
        <div class="col-md-12">
            <!-- Basic Form Elements Block -->
            <div class="block">
                <!-- Basic Form Elements Title -->
                <div class="block-title">
                    <h2><strong>Add</strong> Permission</h2>
                </div>
                <!-- END Form Elements Title -->

                <!-- Basic Form Elements Content -->
                <form action="{% url 'manageuser_permission_add' %}" method="post" enctype="multipart/form-data" class="form-horizontal form-bordered">
                    {% csrf_token %}
                    <div class="form-group">
                            <div class="col-md-4">
                                <input type="text" id="name" name="name" class="form-control" placeholder="add permission" required>
                            </div>
                            <div class="col-md-4">
                                <input type="text" id="codename" name="codename" class="form-control" placeholder="add permission" required>
                            </div>

                            <div class="col-md-4">
                                <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-angle-right"></i> Add New Permission</button>
                            </div>                                                   
                    </div>  
                    
                </form>
               
            </div>
            <!-- END Add User Group -->
        </div>
       
    </div>
    
</div>
<!-- End Add User Group Content -->

<!-- Datatables Content -->
<div class="block full">
    <div class="block-title">
    <h2><strong>Users</strong>Permissions</h2>
    </div>
    <p><a href="/panel/manage/user/permission/show/" target="_blank">Users Permissions Datatables </a> is a table used to generate users permi in the database. Here you can dynamically, add, edit and delete users groups in your database.</p>
    
    <div class="table-responsive">
        <table id="example-datatable" class="table table-vcenter table-condensed table-bordered">
            <thead>
                <tr>
                    <th class="text-center">ID</th>
                    <th>Permissions</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                <!-- loop through the db to show data in the datatable -->
                {% for list in perms %}
                <tr>
                    <td class="text-center">{{list.pk}}</td>
                    <th>{{list.name.title}}</th>
                    <td class="text-center">
                        <div class="btn-group">
                            <a href="{% url 'manageuser_permission_del' name=list.name %}" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger"><i class="fa fa-times">Del</i></a>
                        </div>
                    </td>
                </tr>
        
                {% endfor %}
                
            </tbody>
        </table>
    </div>
    </div>
    <!-- END Datatables Content -->
</div>
<!-- END Page Content -->
 

{% endblock %}



{% block javascriptblock %}
<!-- Load and execute javascript code used only in this page -->
<script src="{% static 'back/js/pages/tablesDatatables.js' %}"></script>
<script>$(function(){ TablesDatatables.init(); });</script>
{% endblock %}
