
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{site.name}} | Message</title>
	
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'front/images/icons/favicon.png'%}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'front/vendor/bootstrap/css/bootstrap.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'front/fonts/fontawesome-5.0.8/css/fontawesome-all.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'front/fonts/iconic/css/material-design-iconic-font.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'front/vendor/animate/animate.css'%}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'front/vendor/css-hamburgers/hamburgers.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'front/vendor/animsition/css/animsition.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'front/css/util.min.css'%}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'front/css/main.css'%}">
<!--===============================================================================================-->
</head>
<body class="animsition">
	
	<!-- Header -->
	<header>
		<!-- Header desktop -->
		<div class="container-menu-desktop">
			<div class="topbar">
				<div class="content-topbar h-100 p-rl-30">
				
				</div>
			</div>

				
		</div>
	</header>
		
    <br><br>
    
    
<!-- Page heading -->
<div class="container p-t-4 p-b-35">
		<h2 class="f1-l-1 cl2" style="color: rgb(180, 93, 93);">
			Message
		</h2>
	</div>

	<!-- Content -->
	<section class="bg0 p-b-70">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-12 col-md-12 p-b-25">
					<div class="p-r-10 p-r-0-sr991">
						<p class="f1-s-11 cl6 p-b-25">
							{{msg}}
						</p>
						<p class="f1-s-11 cl6 p-b-30">
							
							<a href="/"><i class="fa fa-home">Back to Site</i></a>
						</p>
						

						
					</div>
				</div>
				
				
			</div>
		</div>
	</section>
   

	<!-- Footer -->
	<footer>
			
	
			<div class="bg11 bg2 p-t-10 p-b-15">
				<div class="container size-h-4 flex-c-c p-tb-15">
					<span class="f1-s-1 cl0 txt-center">
	
						<a href="#" class="f1-s-1 cl10 hov-link1">
	Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Powered <i class="fa fa-heart text-danger" aria-hidden="true"></i> by <a href="{{site.link}}" target="_blank">Tboost Technology</a>
	
					</span>
				</div>
			</div>
		</footer>

	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<span class="fas fa-angle-up"></span>
		</span>
	</div>

	<!-- Modal Video 01-->
	<div class="modal fade" id="modal-video-01" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document" data-dismiss="modal">
			<div class="close-mo-video-01 trans-0-4" data-dismiss="modal" aria-label="Close">&times;</div>

			<div class="wrap-video-mo-01">
				<div class="video-mo-01">
					
				</div>
			</div>
		</div>
	</div>

<!--===============================================================================================-->	
	<script src="{% static 'front/vendor/jquery/jquery-3.2.1.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{% static 'front/vendor/animsition/js/animsition.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{% static 'front/vendor/bootstrap/js/popper.js'%}"></script>
	<script src="{% static 'front/vendor/bootstrap/js/bootstrap.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{% static 'front/js/main.js'%}"></script>

</body>
</html>

