{% extends 'back/master.html' %}

{% load static %}



{% block contentblock %}
                    
<!-- Page content -->
<div id="page-content">
    <!-- Datatables Header -->
    <div class="content-header">
        <div class="header-section">
            <h1>
                <i class="fa fa-table"></i>Phone List<br><small>You can add, edit and delete your data.</small>
            </h1>
        </div>
    </div>
    <ul class="breadcrumb breadcrumb-top">
        <li>Phone</li>
        <li><a href="/panel/newsletter/phones/">List</a></li>
        <li><a href="#">Add New</a></li>
        <li><a href="/">Home</a></li>
    </ul>
    <!-- END Datatables Header -->

<!-- Datatables Content -->
<div class="block full">
<div class="block-title">
<h2><strong>Phone</strong>List</h2>
</div>
<p><a href="/panel/newsletter/phones/" target="_blank">Phone List</a> is a table used to generate list of phones in the database. Here you can dynamically, add, edit and delete news item in your database.</p>

<div class="table-responsive">
<table id="example-datatable" class="table table-vcenter table-condensed table-bordered">
    <thead>
        <tr>
            <th class="text-center">ID</th>
            <th>Phones</th>
            <th>Date</th>
            <th class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        <!-- loop through the db to show data in the datatable -->
        {% for list in phones %}
        <tr>
            <td class="text-center">{{list.pk}}</td>            
            <td>{{list.txt}}</td>
            <td>{{list.date}}</td>
            <td class="text-center">
                <div class="btn-group">
                    <a href="{% url 'news_letter_del' num=2 pk=list.pk %}" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger"><i class="fa fa-times">Del</i></a>
                    
                </div>
            </td>
        </tr>

        {% endfor %}
        
    </tbody>
</table>
</div>
</div>
<!-- END Datatables Content -->
</div>
<!-- END Page Content -->
 

{% endblock %}



{% block javascriptblock %}
<!-- Load and execute javascript code used only in this page -->
<script src="{% static 'back/js/pages/tablesDatatables.js' %}"></script>
<script>$(function(){ TablesDatatables.init(); });</script>
{% endblock %}