{% extends 'back/master.html' %}

{% load static %}



{% block contentblock %}
                    
<!-- Page content -->
<div id="page-content">
    <!-- Datatables Header -->
    <div class="content-header">
        <div class="header-section">
            <h1>
                <i class="fa fa-table"></i>Email List<br><small>You can add, edit and delete your data.</small>
            </h1>
        </div>
    </div>
    <ul class="breadcrumb breadcrumb-top">
        <li>Email</li>
        <li><a href="/panel/newsletter/emails/">List</a></li>
        <!-- <li><a href="#">Add New</a></li> -->
        <li><a href="/">Home</a></li>
    </ul>
    <!-- END Datatables Header -->
<!-- Datatables Content -->
<div class="block full">
    <div class="block-title">
    <h2><strong>Send</strong>Email</h2>
    </div>
    <form action="{%url 'send_email' %}" method="post" enctype="multipart/form-data" class="form-horizontal form-bordered">
        {% csrf_token %}
        <div class="form-group">
                <div class="col-md-12">
                    <textarea type="text" rows="5" id="txt" name="txt" class="form-control">Your message</textarea>
                </div>
        </div>
           
        <div class="form-group">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-angle-right"></i> Send mail</button>
                </div>
        </div>   
        
    </form>
    
    </div>
    <!-- END Datatables Content -->


<!-- Datatables Content -->
<div class="block full">
<div class="block-title">
<h2><strong>Email</strong>List</h2>
</div>
<p><a href="/panel/newsletter/emails/" target="_blank">Email List</a> is a table used to generate list of emails in the database. Here you can dynamically, add, edit and delete email in your database.</p>

<form action="{%url 'checkbox_emaillist' %}" method="post" enctype="multipart/form-data" class="form-horizontal form-bordered">
    {% csrf_token %}
    <div class="table-responsive">
        <table id="example-datatable" class="table table-vcenter table-condensed table-bordered">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th class="text-center">ID</th>
                <th>Emails</th>
                <th>Date</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            <!-- loop through the db to show data in the datatable -->
            {% for list in emails %}
            <tr>
                <!-- <td><input type="checkbox" name="{{list.pk}}" id="check"></td> -->
                <td><input type="checkbox" name="checks[]" id="check" value="{{list.pk}}"></td>
                <td class="text-center">{{list.pk}}</td>            
                <td>{{list.txt}}</td>
                <td>{{list.date}}</td>
                <td class="text-center">
                    <div class="btn-group">
                        <a href="{% url 'news_letter_del' num=1 pk=list.pk %}" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger"><i class="fa fa-times">Del</i></a>
                        
                    </div>
                </td>
            </tr>

            {% endfor %}
            
        </tbody>
        </table>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <button type="submit" class="btn btn-sm btn-primary">Delete Check</button>
        </div>
    </div>
</form>
</div>
<!-- END Datatables Content -->
</div>
<!-- END Page Content -->
 

{% endblock %}



{% block javascriptblock %}
<!-- Load and execute javascript code used only in this page -->
<script src="{% static 'back/js/pages/tablesDatatables.js' %}"></script>
<script>$(function(){ TablesDatatables.init(); });</script>
{% endblock %}