{% extends 'back/master.html' %}

{% load static %}



{% block contentblock %}
                    
<!-- Page content -->
<div id="page-content">
        <!-- Forms General Header -->
        <div class="content-header">
            <div class="header-section">
                <h1>
                    <i class="gi gi-notes_2"></i>Edit News<br>You can edit news here...<small></small>
                </h1>
            </div>
        </div>
        <ul class="breadcrumb breadcrumb-top">
            <li>Edit</li>
            <li><a href="/panel/news/edit/{{pk}}">News</a></li>
        </ul>
        <!-- END Forms General Header -->

        <div class="row">
            <div class="col-md-12">
                <!-- Basic Form Elements Block -->
                <div class="block">
                    <!-- Basic Form Elements Title -->
                    <div class="block-title">
                        <h2><strong>Edit</strong> News</h2>
                    </div>
                    <!-- END Form Elements Title -->

                    <!-- Basic Form Elements Content -->
                    <form action="{% url 'news_edit' pk=pk %}" method="post" enctype="multipart/form-data" class="form-horizontal form-bordered">
                        {% csrf_token %}
                        <div class="form-group">
                                <div class="col-md-6">
                                    <input type="text" id="newstitle" name="newstitle" value="{{news.name}}" class="form-control" placeholder="news title">
                                </div>
                                <div class="col-md-3">
                                    <input type="email" id="mymail" name="mymail" value="{{news.email}}" class="form-control" placeholder="Enter Your Email">
                                </div>
                                <div class="col-md-3">
                                        <select id="newscat" name="newscat" value="{{news.catname}} | {{news.name}}" class="select-chosen" data-placeholder="Choose a Category.." style="width: 250px;">
                                            <option value="{{news.catid}}">{{news.catname}}</option>
                                            {% for i in cat %}
                                            <option value="{{i.pk}}">{{i.catname}} | {{i.name}}</option>
                                                {% endfor %}

                                        </select>   

                                    </div>

                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <textarea id="shorttxt" name="shorttxt" rows="3" class="ckeditor">{{news.short_txt}}</textarea>
                            </div>
                        </div>

                        <fieldset>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <textarea id="textarea-ckeditor" name="textarea-ckeditor" class="ckeditor">{{news.body_txt}}</textarea>
                                </div>
                            </div>
                        </fieldset>

                        <div class="form-group">
                                <div class="col-md-4">
                                    <input type="file" id="myfile" name="myfile"> image size not more than 5MB
                                </div>

                                <div class="col-md-4">
                                    <img class="img-thumbnail" style="display: inline-block; width: 200px; height: 200px;" src="{{news.picurl}}" alt="">
                                </div>
                                <div class="col-md-4">
                                        <input type="text" id="tag" name="tag" value="{{news.tag}}" class="form-control" placeholder="tags">
                                    </div>
                        </div>
                            
                           
                        <div class="form-group">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-angle-right"></i> Update</button>
                                </div>
                        </div>
                            
                        
                    </form>

                   
                </div>
                <!-- END Basic Form Elements Block -->
            </div>
           
        </div>

        
    </div>
<!-- END Page Content -->
 


{% endblock %}

{% block ckeditorblock %}
<!-- load ckeditor -->
<script src="{% static 'back/js/helpers/ckeditor/ckeditor.js' %}"></script>
{% endblock %}

{% block javascriptblock %}
<!-- Load and execute javascript code used only in this page -->
<script src="{% static 'back/js/pages/tablesDatatables.js' %}"></script>
<script>$(function(){ TablesDatatables.init(); });</script>
{% endblock %}