{% extends 'back/master.html' %}

{% load static %}



{% block contentblock %}
                    
<!-- Page content -->
<div id="page-content">
    <!-- Datatables Header -->
    <div class="content-header">
        <div class="header-section">
            <h1>
                <i class="fa fa-table"></i>Article Datatable<br><small>You can add, edit and delete your data.</small>
            </h1>
        </div>
    </div>
    <ul class="breadcrumb breadcrumb-top">
        <li>Article</li>
        <li><a href="/panel/news/list/">View List</a></li>
        <li><a href="/panel/add/article/">Add New Article</a></li>
        <li><a href="/">Home</a></li>
    </ul>
    <!-- END Datatables Header -->

<!-- Datatables Content -->
<div class="block full">
<div class="block-title">
<h2><strong>Article</strong>Datatables</h2>
</div>
<p><a href="/panel/news/list/" target="_blank">Article DataTables</a> is a table used to generate list of news in the database. Here you can dynamically, add, edit and delete news item in your database.</p>

<div class="table-responsive">
<table id="" class="table table-vcenter table-condensed table-bordered">
    <thead>
        <tr>
            <th class="text-center">ID</th>
            <th class="text-center">Image</th>
            <th>Title</th>
            <th>Category</th>
            <th>Writer</th>
            <th>Email</th>
            <th>Views</th>
            <th>Status</th>
            <th>Date</th>
            <th class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        <!-- loop through the db to show data in the datatable -->
        {% for list in news %}
        <tr>
            <td class="text-center">{{list.rand}}</td>
            <td class="text-center"><img style="display: inline-block; width: 50px; height: 50px;" src="{{list.picurl}}" alt="avatar" class="img-circle"></td>
            <th>{{list.name.title}}</th>
            <td>{{list.catname.title}}</td>
            <td>{{list.writer.title}}</td>
            <td>{{list.email}}</td>
            <td>{{list.show}}</td>
            {% if list.act == 0 %}
            <td>Pending...</td>
            {% elif list.act == 1 %}
            <td>Approved</td>
            {% endif %}
            <td>{{list.date}}</td>
            <td class="text-center">
                <div class="btn-group">
                    <a href="{% url 'news_edit' pk=list.pk %}" data-toggle="tooltip" title="Edit" class="btn btn-xs btn-default"><i class="fa fa-pencil">Edit</i></a>
                    <a href="{% url 'del_news' pk=list.pk %}" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger"><i class="fa fa-times">Del</i></a>
                    
                    {% if perms.main.masteruser %}
                    {% if list.act == 0 %}
                    <a href="{% url 'news_publish' pk=list.pk %}" data-toggle="tooltip" title="unpublish" class="btn btn-xs btn-info"><i class="fa fa-times">Not approved</i></a>
                    {% else %}
                    <a href="{% url 'news_publish' pk=list.pk %}" data-toggle="tooltip" title="publish" class="btn btn-xs btn-success"><i class="fa fa-times">Approved</i></a>
                    {% endif %}
                    {% endif %}
                    
                </div>
            </td>
        </tr>

        {% endfor %}
        
    </tbody>
</table>
<!-- show pages number i.e. 'from page to pages' -->
Page {{news.number}} from {{news.paginator.num_pages}} <br><br>

<!-- show previous page button -->
{% if news.has_previous %}
<a href="?page={{ news.previous_page_number }}" data-toggle="tooltip" title="previous" class="btn btn-md btn-primary "><i class="fa fa-backward"> Previous</i></a>
{% endif %}

<!-- show pages numbers on the page in a button -->
{% for i in news.paginator.page_range %}
    {% if news.number == i %}
        <a href="#" onclick="return false;" data-toggle="tooltip" title="{{Disables}}" class="btn btn-md btn-default">{{i}}</a>
    {% else %}
        <a href="?page={{i}}" data-toggle="tooltip" title="{{i}}" class="btn btn-md btn-default">{{i}}</a>
    {% endif %}
{% endfor %}

<!-- show next page button -->
{% if news.has_next %}
<a href="?page={{ news.next_page_number }}" data-toggle="tooltip" title="next" class="btn btn-md btn-primary "><i class="fa fa-forward">Next </i></a>
{% endif %}
</div>
</div>
<!-- END Datatables Content -->
</div>
<!-- END Page Content -->
 

{% endblock %}



{% block javascriptblock %}
<!-- Load and execute javascript code used only in this page -->
<script src="{% static 'back/js/pages/tablesDatatables.js' %}"></script>
<script>$(function(){ TablesDatatables.init(); });</script>
{% endblock %}