{% extends 'back/master.html' %}

{% load static %}

{% block contentblock %}
    <div class="container">
        <h1>User Profile</h1>
        <p><strong>Username:</strong> {{user}}</p>
        <p><strong>First Name:</strong> {{user.first_name}}</p>
        <p><strong>Last Name:</strong> {{user.last_name}}</p>
        <p><strong>Email:</strong> {{user.email}}</p>
    </div>
{% endblock %}