{% extends 'back/master.html' %}

{% load static %}



{% block contentblock %}
                    
<!-- Page content -->
<div id="page-content">
    <!-- Datatables Header -->
    <div class="content-header">
        <div class="header-section">
            <h1>
                <i class="fa fa-table"></i>Reply Email Messages<br><small></small>
            </h1>
        </div>
    </div>
    <ul class="breadcrumb breadcrumb-top">
        <li>Reply</li>
        <li><a href="/panel/contact/reply/">Email Messages</a></li>
        <li><a href="/">Home</a></li>
    </ul>
    <!-- END Datatables Header -->

<!-- Datatables Content -->
<div class="block full">
<div class="block-title">
<h2><strong>Reply</strong>Messages</h2>
</div>
<form action="{% url 'reply_cm' pk=pk %}" method="post" enctype="multipart/form-data" class="form-horizontal form-bordered">
    {% csrf_token %}
    <div class="form-group">
            <div class="col-md-12">
                <textarea type="text" rows="10" id="txt" name="txt" class="form-control">Your message</textarea>
            </div>
    </div>
         
       
    <div class="form-group">
            <div class="col-md-12">
                <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-angle-right"></i> Reply Message</button>
            </div>
    </div>
        
    
</form>

</div>
<!-- END Datatables Content -->
</div>
<!-- END Page Content -->
 

{% endblock %}



{% block javascriptblock %}
<!-- Load and execute javascript code used only in this page -->
<script src="{% static 'back/js/pages/tablesDatatables.js' %}"></script>
<script>$(function(){ TablesDatatables.init(); });</script>
{% endblock %}