{% extends 'back/master.html' %}

{% load static %}



{% block contentblock %}
                    
<!-- Page content -->
<div id="page-content">
        <!-- Forms General Header -->
        <div class="content-header">
            <div class="header-section">
                <h1>
                    <i class="gi gi-notes_2"></i>Settings:<br>You can do Your Site Settings here...<small></small>
                </h1>
            </div>
        </div>
        <ul class="breadcrumb breadcrumb-top">
            <li>site</li>
            <li><a href="/panel/setting/">Settings</a></li>
        </ul>
        <!-- END Forms General Header -->

        <div class="row">
            <div class="col-md-12">
                <!-- Basic Form Elements Block -->
                <div class="block">
                    <!-- Basic Form Elements Title -->
                    <div class="block-title">
                        <h2><strong>Site</strong> Settings</h2>
                    </div>
                    <!-- END Form Elements Title -->

                    <!-- Basic Form Elements Content -->
                    <form action="{% url 'site_setting' %}" method="post" enctype="multipart/form-data" class="form-horizontal form-bordered">
                        {% csrf_token %}
                        <div class="form-group">
                                <div class="col-md-6">
                                    <input type="text" id="name" name="name" value="{{ site.name}}" class="form-control" placeholder="Site title">
                                </div>
                                <div class="col-md-6">
                                    <input type="text" id="tell" name="tell" value="{{ site.tell}}" class="form-control" placeholder="Site Tell">
                                </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6">
                                <input type="text" id="seotxt" name="seotxt" value="{{ site.seo_text}}" class="form-control" placeholder="SEO Text">
                            </div>
                            <div class="col-md-6">
                                <input type="text" id="seokeyword" name="seokeyword" value="{{ site.seo_keyword}}" class="form-control" placeholder="SEO Keywords">
                            </div>
                    </div>

                        <div class="form-group">
                            <div class="col-md-4">
                                <input type="text" id="fb" name="fb" value="{{ site.fb }}" class="form-control" placeholder="Facebook">
                            </div>
                            <div class="col-md-4">
                                <input type="text" id="tw" name="tw" value="{{ site.tw }}" class="form-control" placeholder="Twitter">
                            </div>
                            <div class="col-md-4">
                                <input type="text" id="yt" name="yt" value="{{ site.yt}}" class="form-control" placeholder="Youtube">
                            </div>
                          
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <input type="text" id="pint" name="pint" value="{{site.pint}}" class="form-control" placeholder="Pin Interest">
                            </div>
                            <div class="col-md-4">
                                <input type="text" id="gplus" name="gplus" value="{{ site.gplus}}" class="form-control" placeholder="Google+">
                            </div>
                            <div class="col-md-4">
                                <input type="text" id="link" name="link" value="{{ site.link}}" class="form-control" placeholder="Site Link">
                            </div>
                        </div>

              
                        <fieldset>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <textarea id="text" name="text" class="ckeditor">{{ site.about }}</textarea>
                                </div>
                            </div>
                        </fieldset>

                        <div class="form-group">
                                <div class="col-md-6">
                                    <input type="file" id="myfile" name="myfile"> image size not more than 5MB
                                </div>
                                <div class="col-md-4">
                                    <img class="img-thumbnail" style="display: inline-block; width: 200px; height: 200px;" src="{{site.picurl}}" alt="">
                                </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-6">
                                <input type="file" id="myfile2" name="myfile2"> image size not more than 5MB
                            </div>
                            <div class="col-md-4">
                                <img class="img-thumbnail" style="display: inline-block; width: 200px; height: 110px;" src="{{site.picurl2}}" alt="">
                            </div>
                    </div>
                            
                           
                        <div class="form-group">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-angle-right"></i> Submit</button>
                                </div>
                        </div>
                            
                        
                    </form>

                   
                </div>
                <!-- END Basic Form Elements Block -->
            </div>
           
        </div>

        
    </div>
<!-- END Page Content -->
 


{% endblock %}

{% block ckeditorblock %}
<!-- load ckeditor -->
<script src="{% static 'back/js/helpers/ckeditor/ckeditor.js' %}"></script>
<script ></script>
{% endblock %}

{% block javascriptblock %}
<!-- Load and execute javascript code used only in this page -->
<script src="{% static 'back/js/pages/tablesDatatables.js' %}"></script>
<script>$(function(){ TablesDatatables.init(); });</script>
{% endblock %}