{% extends 'back/master.html' %}

{% load static %}



{% block contentblock %}
                    
<!-- Page content -->
<div id="page-content">
    <!-- Datatables Header -->
    <div class="content-header">
        <div class="header-section">
            <h1>
                <i class="fa fa-table"></i>Sub_categories Datatable<br><small>You can add, edit and delete your data.</small>
            </h1>
        </div>
    </div>
    <ul class="breadcrumb breadcrumb-top">
        <li>Category</li>
        <li><a href="/panel/subcategory/list/">View List</a></li>
        <li><a href="/panel/subcategory/add/">Add New subcategory</a></li>
        <li><a href="/">Home</a></li>
    </ul>
    <!-- END Datatables Header -->

<!-- Datatables Content -->
<div class="block full">
<div class="block-title">
<h2><strong>Subcategories</strong>Datatables</h2>
</div>
<p><a href="/panel/subcategory/list/" target="_blank">Subcategories DataTables</a> is a table used to generate list of subcategories in the database. Here you can dynamically, add, edit and delete news item in your database.</p>

<div class="table-responsive">
<table id="example-datatable" class="table table-vcenter table-condensed table-bordered">
    <thead>
        <tr>
            <th class="text-center">ID</th>
            <th>Title</th>
            <th>Category</th>
            <th>Status</th>
            <th class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        <!-- loop through the db to show data in the datatable -->
        {% for l in subcat %}
        <tr>
            <td class="text-center">{{l.pk}}</td>
            <th>{{l.name.title}}</th>
            <th>{{l.catname.title}}</th>
            {% if l.act == 0 %}
            <td>Pending...</td>
            {% elif l.act == 1 %}
            <td>Approved</td>
            {% endif %}
            <td class="text-center">
                <div class="btn-group">
                    <a href="{% url 'subcat_del' pk=l.pk%}" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger"><i class="fa fa-times">Del</i></a>

                    {% if perms.main.masteruser %}
                    {% if l.act == 0 %}
                    <a href="{% url 'subcat_publish' pk=l.pk %}" data-toggle="tooltip" title="unpublish" class="btn btn-xs btn-info"><i class="fa fa-times">Not approved</i></a>
                    {% else %}
                    <a href="{% url 'subcat_publish' pk=l.pk %}" data-toggle="tooltip" title="publish" class="btn btn-xs btn-success"><i class="fa fa-times">Approved</i></a>
                    {% endif %}
                    {% endif %}

                </div>
            </td>
        </tr>

        {% endfor %}
        
    </tbody>
</table>
</div>
</div>
<!-- END Datatables Content -->
</div>
<!-- END Page Content -->
 

{% endblock %}



{% block javascriptblock %}
<!-- Load and execute javascript code used only in this page -->
<script src="{% static 'back/js/pages/tablesDatatables.js' %}"></script>
<script>$(function(){ TablesDatatables.init(); });</script>
{% endblock %}