{% extends 'back/master.html' %}

{% load static %}



{% block contentblock %}
                    
<!-- Page content -->
<div id="page-content">
    <!-- Datatables Header -->
    <div class="content-header">
        <div class="header-section">
            <h1>
                <i class="fa fa-table"></i>Trending Datatable<br><small>You can add, edit and delete your data.</small>
            </h1>
        </div>
    </div>
    <ul class="breadcrumb breadcrumb-top">
        <li>Trending</li>
        <li><a href="/panel/trending/show/">View Trending</a></li>
        <li><a href="/panel/trending/add/">New Trending</a></li>
        <li><a href="/">Home</a></li>
    </ul>
    <!-- END Datatables Header -->

<!-- Datatables Content -->
<div class="block full">
<div class="block-title">
<h2><strong>Trending</strong>Datatables</h2>
</div>
<p><a href="/panel/trending/show/" target="_blank">Trending DataTables</a> is a table used to generate list of Trending in the database. Here you can dynamically, add, edit and delete trending items in your database.</p>

<div class="table-responsive">
<table id="example-datatable" class="table table-vcenter table-condensed table-bordered">
    <thead>
        <tr>
            <th class="text-center">ID</th>
            <th>Title</th>
            <th>Source</th>
            <th>Date</th>
            <th class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        <!-- loop through the db to show data in the datatable -->
        {% for l in trending %}
        <tr>
            <td class="text-center">{{l.pk}}</td>
            <td>{{l.text.title}}</td>
            <td>{{l.url}}</td>
            <td>{{l.date}}</td>
            <td class="text-center">
                <div class="btn-group">
                    <a href="{% url 'trending_edit' pk=l.pk %}" data-toggle="tooltip" title="Edit" class="btn btn-xs btn-default"><i class="fa fa-pencil">Edit</i></a>
                    <a href="{% url 'trending_del' pk=l.pk %}" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger"><i class="fa fa-times">Del</i></a>
                </div>
            </td>
        </tr>

        {% endfor %}
        
    </tbody>
</table>
</div>
</div>
<!-- END Datatables Content -->
</div>
<!-- END Page Content -->
 

{% endblock %}



{% block javascriptblock %}
<!-- Load and execute javascript code used only in this page -->
<script src="{% static 'back/js/pages/tablesDatatables.js' %}"></script>
<script>$(function(){ TablesDatatables.init(); });</script>
{% endblock %}