{% extends 'back/master.html' %}

{% load static %}



{% block contentblock %}
                    
<!-- Page content -->
<div id="page-content">
        <!-- Forms General Header -->
        <div class="content-header">
            <div class="header-section">
                <h1>
                    <i class="gi gi-notes_2"></i>Add Trending:<br>You can add new trending here...<small></small>
                </h1>
            </div>
        </div>
        <ul class="breadcrumb breadcrumb-top">
            <li>Add</li>
            <li><a href="/panel/trending/add/">Trending</a></li>
        </ul>
        <!-- END Forms General Header -->

        <div class="row">
            <div class="col-md-12">
                <!-- Basic Form Elements Block -->
                <div class="block">
                    <!-- Basic Form Elements Title -->
                    <div class="block-title">
                        <h2><strong>Add</strong> Trending</h2>
                    </div>
                    <!-- END Form Elements Title -->

                    <!-- Basic Form Elements Content -->
                    <form action="{% url 'trending_edit' pk=pk %}" method="post" enctype="multipart/form-data" class="form-horizontal form-bordered">
                        {% csrf_token %}
                        <div class="form-group">
                                <div class="col-md-8">
                                    <textarea id="text" name="text" rows="3" class="form-control" placeholder="Your trending here">{{ mytext}}</textarea>
                                </div>
                                <div class="col-md-4">
                                    <input type="text" id="url" name="url" value="{{trend.url}}" class="form-control" placeholder="Enter url">
                                        
                                </div>
                        </div>
                             
                           
                        <div class="form-group">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-angle-right"></i> Update</button>
                                </div>
                        </div>
                            
                        
                    </form>

                   
                </div>
                <!-- END Basic Form Elements Block -->
            </div>
           
        </div>

        
    </div>
<!-- END Page Content -->
 


{% endblock %}



{% block javascriptblock %}
<!-- Load and execute javascript code used only in this page -->
<script src="{% static 'back/js/pages/tablesDatatables.js' %}"></script>
<script>$(function(){ TablesDatatables.init(); });</script>
{% endblock %}