{% extends 'back/master.html' %}

{% load static %}



{% block contentblock %}

                    
<!-- Page content -->
<div id="page-content">
    <!-- Datatables Header -->
    <!-- Add Group Contents -->

<!-- End Add User Group Content -->
<div class="row">
    <div class="col-md-12">
        <!-- Basic Form Elements Block -->
        <div class="block">
            <!-- Basic Form Elements Title -->
            <div class="block-title">
                <h2><strong>Add</strong> User's Permission</h2>
            </div>
            <!-- END Form Elements Title -->

            <!-- Basic Form Elements Content -->
            <form action="{% url 'users_permission_assign' pk=pk %}" method="post" enctype="multipart/form-data" class="form-horizontal form-bordered">
                {% csrf_token %}
                <div class="form-group">
                        <div class="col-md-4">
                            <select id="pname" name="pname" class="select-chosen" data-placeholder="Select a Permission">
                                {% for i in perms %}
                                    <option value="{{i.name.title}}">{{i.name.title}}</option>
                                {% endfor %}
                            </select>

                        </div>

                        <div class="col-md-4">
                            <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-angle-right"></i> Assign Permission to Group</button>
                        </div>
                     
                                               
                </div>
                    
                
            </form>

           
        </div>
        <!-- END Add User Group -->
    </div>
   
</div>

<!-- Datatables Content -->
<div class="block full">
<div class="block-title">
<h2><strong>Users</strong>Permission</h2>
</div>
<p><a href="/panel/manage/users/with/permission/" target="_blank">Users Permission Datatabless </a> is a table used to generate users permission in the database. Here you can dynamically, add, edit and delete users permission in your database.</p>

<div class="table-responsive">
<table id="example-datatable" class="table table-vcenter table-condensed table-bordered">
    <thead>
        <tr>
            <th>Users Permission Name</th>
            <th class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        <!-- loop through the db to show data in the datatable -->
        {% for list in uperms %}
        <tr>
            <th>{{list}}</th>
            <td class="text-center">
                <div class="btn-group">
                    <a href="{% url 'users_permission_del' pk=pk name=list %}" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger"><i class="fa fa-times">Del</i></a>
                </div>
            </td>
        </tr>
        {% endfor %}
        
    </tbody>
</table>
</div>
</div>
<!-- END Datatables Content -->
</div>
<!-- END Page Content -->
 

{% endblock %}



{% block javascriptblock %}
<!-- Load and execute javascript code used only in this page -->
<script src="{% static 'back/js/pages/tablesDatatables.js' %}"></script>
<script>$(function(){ TablesDatatables.init(); });</script>
{% endblock %}
