{% extends 'front/master.html' %}

{% load static %}

{% load humanize %}


{% block headblock %}
<title>{{site.name}} | About</title>

<meta charset="UTF-8">
<meta name="description" content="{{site.seo_text}}">
<meta name="keywords" content="{{site.seo_keyword}}">

{% endblock%}

{% block footerblock %}
	{{site.about |safe |truncatechars:162}} <a href="/about">read more</a>
{% endblock %}

{% block tellblock %}
call us on {{site.tell}}
{% endblock %}

	
{% block mainblock %}
	<!-- Page heading -->
	<div class="container p-t-4 p-b-35"><br>
		<h2 class="f1-l-1 cl2" style="color: rgb(180, 93, 93);">
			About Us
		</h2>
	</div>

	<!-- Content -->
	<section class="bg0 p-b-110" >
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-7 col-lg-8 p-b-30">
					<div class="p-r-10 p-r-0-sr991"><br><br>
						<p class="f1-s-11 cl6 p-b-25">
							{{site.about | safe| linebreaks }}
						</p>

						<p class="f1-s-11 cl6 p-b-25">
							
						</p>

						<p class="f1-s-11 cl6 p-b-25">
							
						</p>
					</div>
				</div>
				
				<!-- Sidebar -->
				<div class="col-md-5 col-lg-4 p-b-30">
					<div class="p-l-10 p-rl-0-sr991 p-t-5">
						<!-- Popular Posts -->
						<div><br><br>
							<div class="how2 how2-cl4 flex-s-c">
								<h3 class="f1-m-2 cl3 tab01-title" style="color: rgb(180, 93, 93);">
									Popular Post
								</h3>
							</div>

							<ul class="p-t-35">
								{% for pop in popnews1 %}
								<li class="flex-wr-sb-s p-b-30">
									<a href="{% url 'news_detail' word=pop.name %}" class="size-w-10 wrap-pic-w hov1 trans-03">
										<img src="{{pop.picurl}}" alt="IMG">
									</a>

									<div class="size-w-11">
										<h6 class="p-b-4">
											<a href="{% url 'news_detail' word=pop.name %}" class="f1-s-5 cl3 hov-cl10 trans-03">
												{{pop.name.title}}
											</a>
										</h6>

										<span class="cl8 txt-center p-b-24">
											<a href="{% url 'news_detail' word=pop.name %}" class="f1-s-6 cl8 hov-cl10 trans-03">
												{{pop.catname.title}}
											</a>

											<span class="f1-s-3 m-rl-3">
												-
											</span>

											<span class="f1-s-3">
												{{pop.date | naturaltime }}
											</span>
										</span>
									</div>
								</li>
								{% endfor %}

								
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	{% endblock %}
	