{% extends 'front/master.html' %}
{% load static %}

{% load humanize %}


{% block headblock %}
<title>{{site.name}} | All News</title>
{% endblock%}


{% block footerblock %}
	{{site.about | safe |truncatechars:162}} <a href="/about">read more</a>
{% endblock %}

{% block tellblock %}
call us on {{site.tell}}
{% endblock %}

{% block mainblock %}


<!-- Latest -->
<section class="bg0 p-t-60 p-b-40">

	<div class="row p-t-35">
		{% for new in allnews %}
		<div class="col-sm-6 col-md-4">
			<!-- Item latest -->	
			<div class="m-b-45">
				<a href="{% url 'news_detail' word=new.name %}" class="wrap-pic-w hov1 trans-03">
					<img style="display: inline-block; width: 330px; height: 280px;" src="{{new.picurl}}" alt="IMG">
				</a>

				<div class="p-t-16">
					<h5 class="p-b-5">
						<a href="{% url 'news_detail' word=new.name %}" class="f1-m-3 cl2 hov-cl10 trans-03">
							{{new.name.title}}
						</a>
					</h5>
					<p>{{new.short_txt.title | safe}}</p>

					<span class="cl8">
						<a href="{% url 'news_detail' word=new.name %}" class="f1-s-4 cl8 hov-cl10 trans-03">
							Written by: {{new.writer.title}}
						</a>

						<span class="f1-s-3 m-rl-3">
							-
						</span>
						
						<span class="f1-s-3">
							{{new.date }}
						</span>
					</span>
				</div>
			</div>
		</div>
		{% endfor %}
		
	</div>
</div>
Page {{allnews.number}} of {{allnews.paginator.num_pages}} <br>

{% for i in allnews.paginator.page_range %}
    {% if allnews.number == i %}
        <a href="#" onclick="return false;" data-toggle="tooltip" title="{{Disables}}" class="btn btn-md btn-primary">{{i}}</a>
    {% else %}
        <a href="?page={{i}}" data-toggle="tooltip" title="{{i}}" class="btn btn-md btn-primary">{{i}}</a>
    {% endif %}
{% endfor %}

</section>


{% endblock %}

