{% extends 'front/master.html' %}
{% load static %}

{% load humanize %}


{% block headblock %}
<title>{{site.name}} | All Posts</title>

<script>
	function Num(x){
			if(window.event){var key = window.event.keyCode;}
			else if (x){key=x.which;}
			else {return true;}
			var keychar = String.fromCharCode(key);
			keychar.toLowerCase();
		if(key == (null || 0 || 8|| 13 || 27) || ("a b c d e f g h i j k l m n o p q r s t u v w x y z", enterkey).indexOf(keychar) > -1){return true;}
		if(key == ("9").indexOf(keychar) > -1){return true;}
			else {return false;}

	}
</script>
{% endblock%}


{% block footerblock %}
	{{site.about | safe |truncatechars:162}} <a href="/about">read more</a>
{% endblock %}

{% block tellblock %}
call us on {{site.tell}}
{% endblock %}

{% block mainblock %}

<!-- Search -->
<div class="row p-t-30">
	<div class="col-sm-6 col-md-4">
		<form action="{% url 'search_all_news' %}" method="post">
			{% csrf_token %}
		<div class="pos-relative size-a-3 bo-1-rad-20 of-hidden bocl11 m-tb-6">
				<!-- <input class="f1-s-1 cl6 plh9 s-full p-l-25 p-r-45" onkeypress="return Num(event);" type="text" name="search" placeholder="Search..."> -->
				
				<div class="col-md-6"> 
					<select id="cat" name="cat" class="select-chosen" style="width: 250px;">
						<option value=0>Search by Category</option>
						{% for i in cat %}
							<option value="{{i.pk}}">{{i.name}}</option>
						{% endfor %}

						</select>   

				</div><br>

				<div class="col-md-6"> 
					<select id="from" name="from" class="select-chosen" style="width: 250px;">
						<option value=0>Search by Date: From</option>
						{% for i in f_rom %}
							<option value="{{i}}">{{i}}</option>
						{% endfor %}

						</select>   

				</div><br>

				<div class="col-md-6"> 
					<select id="to" name="to" class="select-chosen" data-placeholder="Choose a Subcategory.." style="width: 250px;">
						<option value=0>Search by Date: To</option>
						{% for i in t_o %}
							<option value="{{i}}">{{i}}</option>
						{% endfor %}

						</select>   

				</div>

				<input class="f1-s-1 cl6 plh9 s-full p-l-15 p-r-35" onkeypress="return Num(event);" type="text" name="search" placeholder="Search by text or words here...">
				

				<button class="flex-c-c size-a-1 ab-t-r fs-20 cl2 hov-cl10 trans-03">
					<i class="zmdi zmdi-search"></i>
				</button>
		</div>
	</form>
	</div>
</div>
	
<!-- Latest -->
<section class="bg0 p-t-60 p-b-40">
	<div class="row p-t-35">
		{% for new in allnews %}
		<div class="col-sm-6 col-md-4">
			<!-- Item latest -->	
			<div class="m-b-45">
				<a href="{% url 'news_detail' word=new.name %}" class="wrap-pic-w hov1 trans-03">
					<img style="display: inline-block; width: 330px; height: 280px;" src="{{new.picurl}}" alt="IMG">
				</a>

				<div class="p-t-16">
					<h5 class="p-b-5">
						<a href="{% url 'news_detail' word=new.name %}" class="f1-m-3 cl2 hov-cl10 trans-03">
							{{new.name.title}}
						</a>
					</h5>
					<p>{{new.short_txt.title | safe}}</p>

					<span class="cl8">
						<a href="{% url 'news_detail' word=new.name %}" class="f1-s-4 cl8 hov-cl10 trans-03">
							Written by: {{new.writer.title}}
						</a>

						<span class="f1-s-3 m-rl-3">
							-
						</span>
						
						<span class="f1-s-3">
							{{new.date }}
						</span>
					</span>
				</div>
			</div>
		</div>
		{% endfor %}
				
	</div>
</div>
Page {{allnews.number}} of {{allnews.paginator.num_pages}} <br>

{% for i in allnews.paginator.page_range %}
    {% if allnews.number == i %}
        <a href="#" onclick="return false;" data-toggle="tooltip" title="{{Disables}}" class="btn btn-md btn-primary">{{i}}</a>
    {% else %}
        <a href="?page={{i}}" data-toggle="tooltip" title="{{i}}" class="btn btn-md btn-primary">{{i}}</a>
    {% endif %}
{% endfor %}

</section>



{% endblock %}

