{% extends 'front/master.html' %}
{% load static %}

{% load humanize %}


{% block headblock %}
<title>{{site.name}} | Home</title>
<meta charset="UTF-8">
<meta name="description" content="{{site.seo_text}}">
<meta name="keywords" content="{{site.seo_keyword}}">

<meta name="og:{{site.name}}" property="og:{{site.name}}" content="site.seo_text">
{% endblock%}


{% block footerblock %}
	{{site.about | safe |truncatechars:162}} <a href="/about">read more</a>
{% endblock %}

{% block tellblock %}
call us on {{site.tell}}
{% endblock %}

{% block mainblock %}

<!-- Feature post -->
<section class="bg0" style="background-image: url({% static 'front/images/dcm_back_white.jpg' %})">
	<div class="row m-rl-0 justify-content-center">
		{% for lastnews in lastnews %}
		<div class="col-md-4 p-rl-1 p-b-2">
			<div class="bg-img1 size-a-11 how1 pos-relative" style="background-image: url({{lastnews.picurl}});">
				<a href="{% url 'news_detail' word=lastnews.name %}" class="dis-block how1-child1 trans-03"></a>

				<div class="flex-col-e-s s-full p-rl-25 p-tb-18">
					<a href="{% url 'news_detail' word=lastnews.name %}" class="dis-block how1-child2 f1-s-2 cl0 bo-all-1 bocl0 hov-btn1 trans-03 p-rl-5 p-t-2">
						{{lastnews.catname.title}}
					</a>

					<h3 class="how1-child2 m-t-14 m-b-10">
						<a href="{% url 'news_detail' word=lastnews.name %}" class="f1-l-1 cl0 hov-cl10 trans-03 respon1">
							{{lastnews.name.title}}
						</a>
					</h3>
				</div>
			</div>
		</div>
		{% endfor %}

	</div>
</section>

<br><br>
<section class="bg0">
	<div class="container">
		<div class="row m-rl--1">
			{% for ln in lastnews2 %}
			{% if forloop.counter == 1 %}
			<div class="col-md-6 p-rl-1 p-b-2">
				<div class="bg-img1 size-a-3 how1 pos-relative" style="background-image: url({{ln.picurl}})">
					<a href="{% url 'news_detail' word=ln.name %}" class="dis-block how1-child1 trans-03"></a>

					<div class="flex-col-e-s s-full p-rl-25 p-tb-20">
						<a href="{% url 'news_detail' word=ln.name %}" class="dis-block how1-child2 f1-s-2 cl0 bo-all-1 bocl0 hov-btn1 trans-03 p-rl-5 p-t-2">
							{{ln.catname.title}}
						</a>

						<h3 class="how1-child2 m-t-14 m-b-10">
							<a href="{% url 'news_detail' word=ln.name %}" class="how-txt1 size-a-6 f1-l-1 cl0 hov-cl10 trans-03">
								{{ln.name}}
							</a>
						</h3>

						<span class="how1-child2">
							<span class="f1-s-4 cl11">
								Written by: {{ln.writer.title}}
							</span>

							<span class="f1-s-3 cl11 m-rl-3">
								-
							</span>

							<span class="f1-s-3 cl11">
								{{ln.date}}
							</span>
						</span>
					</div>
				</div>
			</div>
			{% endif %}
			{% endfor %}

			<div class="col-md-6 p-rl-1">

				<div class="row m-rl--1">
					{% for ln in lastnews2 %}
					{% if forloop.counter == 2 %}
					<div class="col-12 p-rl-1 p-b-2">
						<div class="bg-img1 size-a-4 how1 pos-relative" style="background-image: url({{ln.picurl}})">
							<a href="{% url 'news_detail' word=ln.name %}" class="dis-block how1-child1 trans-03"></a>

							<div class="flex-col-e-s s-full p-rl-25 p-tb-24">
								<a href="{% url 'news_detail' word=ln.name %}" class="dis-block how1-child2 f1-s-2 cl0 bo-all-1 bocl0 hov-btn1 trans-03 p-rl-5 p-t-2">
									{{ln.catname}}
								</a>

								<h3 class="how1-child2 m-t-14">
									<a href="{% url 'news_detail' word=ln.name %}" class="how-txt1 size-a-7 f1-l-2 cl0 hov-cl10 trans-03">
										{{ln.name}}
									</a>
								</h3>
							</div>
						</div>
					</div>
					{% endif %}
					{% endfor %}

					{% for ln in lastnews2 %}
					{% if forloop.counter == 3 %}
					<div class="col-sm-6 p-rl-1 p-b-2">
						<div class="bg-img1 size-a-5 how1 pos-relative" style="background-image: url({{ln.picurl}})">
							<a href="{% url 'news_detail' word=ln.name %}" class="dis-block how1-child1 trans-03"></a>

							<div class="flex-col-e-s s-full p-rl-25 p-tb-20">
								<a href="{% url 'news_detail' word=ln.name %}" class="dis-block how1-child2 f1-s-2 cl0 bo-all-1 bocl0 hov-btn1 trans-03 p-rl-5 p-t-2">
									{{ln.catname.title}}
								</a>

								<h3 class="how1-child2 m-t-14">
									<a href="{% url 'news_detail' word=ln.name %}" class="how-txt1 size-h-1 f1-m-1 cl0 hov-cl10 trans-03">
										{{ln.name}}
									</a>
								</h3>
							</div>
						</div>
					</div>
					{% endif %}
					{% endfor %}

					{% for ln in lastnews2 %}
					{% if forloop.counter == 4 %}
					<div class="col-sm-6 p-rl-1 p-b-2">
						<div class="bg-img1 size-a-5 how1 pos-relative" style="background-image: url({{ln.picurl}})">
							<a href="{% url 'news_detail' word=ln.name %}" class="dis-block how1-child1 trans-03"></a>

							<div class="flex-col-e-s s-full p-rl-25 p-tb-20">
								<a href="{% url 'news_detail' word=ln.name %}" class="dis-block how1-child2 f1-s-2 cl0 bo-all-1 bocl0 hov-btn1 trans-03 p-rl-5 p-t-2">
									{{ln.catname.title}}
								</a>

								<h3 class="how1-child2 m-t-14">
									<a href="{% url 'news_detail' word=ln.name %}" class="how-txt1 size-h-1 f1-m-1 cl0 hov-cl10 trans-03">
										{{ln.name}}
									</a>
								</h3>
							</div>
						</div>
					</div>
					{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</section>


<!-- Post -->
<section class="post bg0 p-t-85">
<div class="container">
	<div class="row justify-content-center">
		<div class="col-md-12 col-lg-12">
			<div class="p-r-10 p-rl-0-sr991 p-b-20">
				
				<!-- Life Style  -->
				{% for newscat in cat %}
				{% if newscat.count != 0 %}
				<div class="p-b-25 m-r--10 m-r-0-sr991">
					<div class="how2 how2-cl5 flex-s-c m-r-10 m-r-0-sr991">
						<h3 class="f1-m-2 cl17 tab01-title" style="color: rgb(180, 93, 93);">
							{{newscat.name.title}}
						</h3>
					</div>

					<div class="row p-t-35">
						<div class="col-sm-6 p-r-25 p-r-15-sr991">
							<!-- Item post -->	
							{% for newspost in news %}
							<!--  -->
							{% if newscat.pk == newspost.ocatid %}
							<div class="flex-wr-sb-s m-b-30">
								<a href="{% url 'news_detail' word=newspost.name %}" class="size-w-1 wrap-pic-w hov1 trans-03">
									<img src="{{newspost.picurl}}" alt="IMG">
								</a>

								<div class="size-w-2">
									<h5 class="p-b-5" style="color: rgb(180, 93, 93);">
										<a href="{% url 'news_detail' word=newspost.name %}" class="f1-s-5 cl3 hov-cl10 trans-03">
											{{newspost.name.title}}
										</a>
									</h5>

									<span class="cl8">
										<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
											{{newspost.catname}}
										</a>

										<span class="f1-s-3 m-rl-3">
											-
										</span>

										<span class="f1-s-3">
											{{newspost.date}}
										</span>
									</span>
								</div>
							</div>
							{% endif %}
							{% endfor %}
							
						</div>

						<div class="col-sm-6 p-r-25 p-r-15-sr991">
							<!-- Item post -->	
							{% for pop in popnews %}
							<!-- show post base on its category -->
							{% if pop.ocatid == newscat.pk %}
							<!-- only viewed posts are showed -->
							{% if pop.show != 0 %}
							<div class="flex-wr-sb-s m-b-30">
								<a href="{% url 'news_detail' word=pop.name %}" class="size-w-1 wrap-pic-w hov1 trans-03">
									<img src="{{pop.picurl}}" alt="IMG">
								</a>

								<div class="size-w-2">
									<h5 class="p-b-5">
										<a href="{% url 'news_detail' word=pop.name %}" class="f1-s-5 cl3 hov-cl10 trans-03">
											{{pop.name.title}}
										</a>
									</h5>

									<span class="cl8">
										<a href="{% url 'news_detail' word=pop.name %} class="f1-s-6 cl8 hov-cl10 trans-03">
											{{pop.catname}}
										</a>

										<span class="f1-s-3 m-rl-3">
											-
										</span>

										<span class="f1-s-3">
											{{pop.date}}
										</span>
									</span>
								</div>
							</div>
							{% endif %}
							{% endif %}
							{% endfor %}

						</div>
					</div>
				</div>
				{% endif %}
				{% endfor %}
			</div>
		</div>

	
	</div>
</div>
</section>



<!-- Latest -->
<section class="bg0 p-t-60 p-b-40">
<div class="container">
	<div class="how2 how2-cl4 flex-s-c">
		<h3 class="f1-m-2 cl3 tab01-title" style="color: rgb(180, 93, 93);">
			Latest Articles
		</h3>
	</div>

	<div class="row p-t-35">
		{% for new in news %}
		<div class="col-sm-6 col-md-4">
			<!-- Item latest -->	
			<div class="m-b-45">
				<a href="{% url 'news_detail' word=new.name %}" class="wrap-pic-w hov1 trans-03">
					<img style="display: inline-block; width: 330px; height: 280px;" src="{{new.picurl}}" alt="IMG">
				</a>

				<div class="p-t-16">
					<h5 class="p-b-5">
						<a href="{% url 'news_detail' word=new.name %}" class="f1-m-3 cl2 hov-cl10 trans-03">
							{{new.name.title}}
						</a>
					</h5>
					<p>{{new.short_txt.title | safe}}</p>

					<span class="cl8">
						<a href="{% url 'news_detail' word=new.name %}" class="f1-s-4 cl8 hov-cl10 trans-03">
							by {{new.writer.title}}
						</a>

						<span class="f1-s-3 m-rl-3">
							-
						</span>
						
						<span class="f1-s-3">
							{{new.date}}
						</span>
					</span>
				</div>
			</div>
		</div>
		{% endfor %}
		
	</div>
</div>
</section>


{% endblock %}

