<!-- load static files -->
{% load static %}

<!-- load humnanize -->
{% load humanize %}

<!-- load QR CODE -->
{% load qr_code %}


<!DOCTYPE html>
<html lang="en">
<head>
    {% block headblock %}
    
    {% endblock %}
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'front/images/icons/tbt.jpg'%}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'front/vendor/bootstrap/css/bootstrap.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'front/fonts/fontawesome-5.0.8/css/fontawesome-all.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'front/fonts/iconic/css/material-design-iconic-font.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'front/vendor/animate/animate.css'%}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'front/vendor/css-hamburgers/hamburgers.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'front/vendor/animsition/css/animsition.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'front/css/util.min.css'%}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'front/css/main.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'front/css/tboost.css'%}">
<!--===============================================================================================-->

</head>
<body class="animsition">
	
	<!-- Header -->
	<header>
		<!-- Header desktop -->
		<div class="container-menu-desktop">
			<div class="topbar">
				<div class="content-topbar h-100 p-rl-30">
					<div class="align-self-stretch size-w-0 pos-relative m-r-30">
						<div class="f2-s-1 flex-wr-s-c s-full ab-t-l p-b-2">
							<span class="text-uppercase cl0 p-r-8">
								Trending Now:
							</span>

							
							<span class="dis-inline-block cl16 slide100-txt pos-relative size-w-0" data-in="fadeInDown" data-out="fadeOutDown">
								{% block trendingblock %}
								{% for trend in trending %}
								{% if trend != 0 %}
								<span class="dis-inline-block slide100-txt-item animated visible-false">
									{{trend.text}} <a href="{{ trend.url }}">read more...</a>
								</span>
								{% endif %}
								{% endfor %}
								{% endblock %}

							</span>
						</div>
					</div>
						

					<div class="flex-wr-e-c">
						<div class="left-topbar">
							

							<a href="/about/" class="left-topbar-item">
								About
							</a>

							<a href="/contact/" class="left-topbar-item">
								Contact
							</a>

							<a href="/login/" class="left-topbar-item">
								Sign up | Login
							</a> -->

							<a href="#" class="left-topbar-item">
				</a>

							<a href="#" class="left-topbar-item"></a>
						</div>

						<div class="right-topbar p-l-18">
							<a href="#">
								<span class="fab fa-facebook-f"></span>
							</a>

							<a href="#">
								<span class="fab fa-twitter"></span>
							</a>

							<a href="#">
								<span class="fab fa-pinterest-p"></span>
							</a>

							<a href="#">
								<span class="fab fa-vimeo-v"></span>
							</a>

							<a href="#">
								<span class="fab fa-youtube"></span>
							</a>
						</div>
					</div>	
				</div>
			</div>
	
			<div class="wrap-logo no-banner container">
				<!-- Logo desktop -->		
				<div class="logo">
					<a href="/"><img style="display: inline-block; width: 100px; height: 80px;" src="{{site.picurl}}" alt="LOGO"></a>
				</div>
				<a href="/panel/add/article/" style="color: darkblue; font-size: 15px; margin-right: -40em; position: absolute;">SUBMIT YOUR ARTICLE</a>
			</div>	
			
			<!--  -->
			<div class="wrap-main-nav">
				<div class="main-nav">
					<!-- Menu desktop -->
					<nav class="menu-desktop">
						<a class="logo-stick" href="/">
							<img style="display: inline-block; width: 40px; height: 38px;" src="{{site.picurl}}" alt="LOGO">
						</a>
											

						<ul class="main-menu justify-content-center">
							<li class="main-menu-active">
								<a href="/" style="color: darkred;">Home</a>
							</li>
							{% for menu in cat %}
							{% if menu.count != 0 %}
							<li class="mega-menu-item" style="color: darkred;">
								<a href="#" style="color: darkred;">{{menu.name.title}}</a>

								<div class="sub-mega-menu" style="color: darkred;">
									<div class="nav flex-column nav-pills" role="tablist">
										<a class="nav-link active" data-toggle="pill" href="#news-0" role="tab">All</a>
										
										{% for subm in subcat %}
										{% if subm.catid == menu.pk %}
										
										<a class="nav-link" data-toggle="pill" href="#{{subm.pk}}" role="tab" style="color: darkred;">{{subm.name.title}}</a>
										
										{% endif %}
										{% endfor %}
									</div>

									<div class="tab-content">
										<div class="tab-pane show active" id="news-0" role="tabpanel">
											<div class="row">
												{% for newsitem in news %}
												<!-- display news in each category -->
												{% if newsitem.ocatid == menu.pk %}
												
												<div class="col-3">
													<!-- Item post -->	
													<div>
														<a href="{% url 'news_detail' word=newsitem.name %}" class="wrap-pic-w hov1 trans-03">
															<img style="display: inline-block; width: 150px; height: 120px;" src="{{newsitem.picurl}}" alt="IMG">
														</a>

														<div class="p-t-10">
															<h5 class="p-b-5">
																<a href="{% url 'news_detail' word=newsitem.name %}" class="f1-s-5 cl3 hov-cl10 trans-03">
																	{{newsitem.name.title}}
																</a>
															</h5>

															<span class="cl8">
																<a href="{% url 'news_detail' word=newsitem.name %}" class="f1-s-6 cl8 hov-cl10 trans-03">
																	{{newsitem.catname.title}}
																</a>

																<span class="f1-s-3 m-rl-3">
																	-
																</span>

																<span class="f1e-s-3">
																	{{newsitem.date}}
																</span>
															</span>
														</div>
													</div>
													
												</div>
												
												{% endif %}
												{% endfor %}
	
											</div>
										</div>

										{% for submenu2 in subcat %}
										{% if subm.count != 0%}
										
										<div class="tab-pane" id="{{submenu2.pk}}" role="tabpanel">
											<div class="row">
												{% for subnews in news %}
												{% if subnews.catid == submenu2.pk %}
												
												<div class="col-3">
													<!-- Item post -->	
													<div>
														<a href="{% url 'news_detail' word=subnews.name %}" class="wrap-pic-w hov1 trans-03">
															<img src="{{subnews.picurl}}" alt="IMG">
														</a>

														<div class="p-t-10">
															<h5 class="p-b-5" style="color: rgb(180, 93, 93);">
																<a href="{% url 'news_detail' word=subnews.name %}" class="f1-s-5 cl3 hov-cl10 trans-03">
																	{{subnews.name.title}}
																</a>
															</h5>

															<span class="cl8">
																<a href="{% url 'news_detail' word=subnews.name %}" class="f1-s-6 cl8 hov-cl10 trans-03">
																	{{subnews.catname.title}}
																</a>

																<span class="f1-s-3 m-rl-3">
																	-
																</span>

																<span class="f1-s-3">
																	{{subnews.date}}
																</span>
															</span>
														</div>
													</div>
												</div>
												
												
												{% endif %}
												{% endfor %}
	
											</div>
										</div>
										
										{% endif %}
										{% endfor %}

									</div>
								</div>
							</li>
							{% endif %}
							{% endfor %}

							<li class="main-menu">
								<a href="/all/posts/" style="color: darkred;">All Posts</a>
							</li>
							<li class="main-menu">
								<a href="#" style="color: darkred;">Gallery</a>
							</li>
							<li class="main-menu">
								<a href="#" style="color: darkred;">Projects</a>
							</li>

							
						</ul>
					</nav>
				</div>
			</div>	
		</div>
	</header>
		
    
    
    {% block mainblock %}


    {% endblock %}




	<!-- Footer -->
	<footer>
		<div class="bg2 p-t-40 p-b-25">
			<div class="container" >
				<div class="row">
					<div class="col-lg-4 p-b-20">
						<div class="size-h-3 flex-s-c">
							<a href="/about/">
								<img style="display: inline-block; width: 180px; height: 130px;" class="max-s-full" src="{{site.picurl2}}" alt="LOGO">
							</a>
						</div><br>

						<div>
							<p class="f1-s-1 cl11 p-b-16">
                                {% block footerblock %}
                                {% endblock %}
							</p>

							<p class="f1-s-1 cl11 p-b-16">
                                {% block tellblock%}
                                {% endblock %}
							</p>
							
							<div class="p-t-15">
								<a href="#" class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
									<span class="fab fa-facebook-f"></span>
								</a>

								<a href="#" class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
									<span class="fab fa-twitter"></span>
								</a>

								<a href="#" class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
									<span class="fab fa-pinterest-p"></span>
								</a>

								<a href="#" class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
									<span class="fab fa-vimeo-v"></span>
								</a>

								<a href="#" class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
									<span class="fab fa-youtube"></span>
								</a>
							</div> <br>
							<form action="{% url 'news_letter' %}" method="post" enctype="multipart/form-data">
								{% csrf_token %}
							<input class="bo-1-rad-3 bocl13 size-a-19 f1-s-13 cl5 plh6 p-rl-18 m-b-20" type="text" name="txt" placeholder="Enter your email or phone number for newsletter">
							<button type="submit" class="btn btn-primary size-a-20 bg2 borad-3 f1-s-12 cl0 hov-btn1 trans-03 p-rl-15 m-t-20">
								Subscribe
							</button>
						</form>				

						</div>
					</div>

					<div class="col-sm-6 col-lg-4 p-b-20">
						<div class="size-h-3 flex-s-c">
							<h5 class="f1-m-7 cl0" style="color: rgb(180, 93, 93);">
								Popular Posts
							</h5>
						</div>

						<ul>
							{% for pop in popnews1 %}
							{% if pop.count != 0%}
							<li class="flex-wr-sb-s p-b-20">
								<a href="{% url 'news_detail' word=pop.name %}" class="size-w-4 wrap-pic-w hov1 trans-03">
									<img src="{{pop.picurl}}" alt="IMG">
								</a>

								<div class="size-w-5">
									<h6 class="p-b-5">
										<a href="{% url 'news_detail' word=pop.name %}" class="f1-s-5 cl11 hov-cl10 trans-03">
											{{pop.name.title}}
										</a>
									</h6>

									<span class="f1-s-3 cl6">
										{{pop.date}}
									</span>
								</div>
							</li>
							{% endif %}
							{% endfor %}

						</ul>
					</div>

					<div class="col-sm-6 col-lg-4 p-b-20">
						<div class="size-h-3 flex-s-c">
							<h5 class="f1-m-7 cl0" style="color: rgb(180, 93, 93);">
								Category
							</h5>
						</div>

						<ul class="m-t--12">
							{% for c in cat %}
							{% if c.count != 0 %}
							
							<li class="how-bor1 p-rl-5 p-tb-10">
								<a href="{% url 'news_all_show' word=c.name %}" class="f1-s-5 cl11 hov-cl10 trans-03 p-tb-8">
									{{c.name.title}} ({{c.count}})
								</a>
							</li>
							
							{% endif %}
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="bg11">
			<div class="container size-h-4 flex-c-c p-tb-15">
				<span class="f1-s-1 cl0 txt-center">

					<a href="#" class="f1-s-1 cl10 hov-link1">
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Powered <i class="fa fa-heart text-danger" aria-hidden="true"></i> by <a href="#" target="_blank">Tboost Technology</a>

				</span>
			</div>
		</div>
	</footer>

	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<span class="fas fa-angle-up"></span>
		</span>
	</div>

	<!-- Modal Video 01-->
	<div class="modal fade" id="modal-video-01" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document" data-dismiss="modal">
			<div class="close-mo-video-01 trans-0-4" data-dismiss="modal" aria-label="Close">&times;</div>

			<div class="wrap-video-mo-01">
				<div class="video-mo-01">
					
				</div>
			</div>
		</div>
	</div>

<!--===============================================================================================-->	
	<script src="{% static 'front/vendor/jquery/jquery-3.2.1.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{% static 'front/vendor/animsition/js/animsition.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{% static 'front/vendor/bootstrap/js/popper.js'%}"></script>
	<script src="{% static 'front/vendor/bootstrap/js/bootstrap.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{% static 'front/js/main.js'%}"></script>
	<script src="{% static 'back/js/vendor/modernizr.min.js' %}"></script>

</body>
</html>

