{% extends 'front/master.html' %}

{% load static %}

{% load humanize %}

{% load qr_code %}


{% block headblock %}
{% for detail in shownews %}
<title>{{site.name}} | {{detail.name}}</title>
{% endfor %}

<meta charset="UTF-8">
<meta name="description" content="{{site.seo_text}}">
<meta name="keywords" content="{{tagname}}">

{% endblock%}

{% block footerblock %}
	{{site.about | safe | truncatechars:162}} <a href="/about">read more</a>
{% endblock %}

{% block tellblock %}
call us on {{site.tell}}
{% endblock %}


{% block mainblock %}

{% for detail in shownews %}

	<!-- Breadcrumb -->
	<div class="container">
		<div class="headline bg0 flex-wr-sb-c p-rl-20 p-tb-8">
			<div class="f2-s-1 p-r-30 m-tb-6">
				<a href="/" class="breadcrumb-item f1-s-3 cl9">
					Home 
				</a>

				<a href="blog-list-01.html" class="breadcrumb-item f1-s-3 cl9">
					News/Blog
				</a>

				<span class="breadcrumb-item f1-s-3 cl9">
					 {{detail.name}}
				</span>
			</div>

			<div class="pos-relative size-a-2 bo-1-rad-22 of-hidden bocl11 m-tb-6">
				<input class="f1-s-1 cl6 plh9 s-full p-l-25 p-r-45" type="text" name="search" placeholder="Search">
				<button class="flex-c-c size-a-1 ab-t-r fs-20 cl2 hov-cl10 trans-03">
					<i class="zmdi zmdi-search"></i>
				</button>
			</div>
		</div>
	</div>

	<!-- Content -->
	<section class="bg0 p-b-140 p-t-10">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-10 col-lg-8 p-b-30">
					<div class="p-r-10 p-r-0-sr991">
						<!-- Blog Detail -->
						<div class="p-b-70">
							<a href="#" class="f1-s-10 cl2 hov-cl10 trans-03 text-uppercase">
								{{detail.catname.title}}
							</a>

							<h3 class="f1-l-3 cl2 p-b-16 p-t-33 respon2">
								{{detail.short_txt | safe}}
							</h3>
							
							<div class="flex-wr-s-s p-b-20">
								<span class="f1-s-3 cl8 m-r-15">
									<img class="img-thumbnail responsive" style="display: inline-block; width: 60px; height: 60px;" src="{{site.picurl2}}" alt="mypix">&nbsp;&nbsp;
									<a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
										By: {{detail.writer.title}}
									</a>
								</span>
							</div>
								<div class="flex-wr-s-s p-b-20">
									<span class="f1-s-3 cl8 m-r-15">
										<span class="m-rl-3">Published -</span>

										<span>
											{{detail.date}}
										</span>
									</span>
								
								
								<span class="f1-s-3 cl8 m-r-15">
									{{detail.show}} Views
								</span>

								<a href="#" class="f1-s-3 cl8 hov-cl10 trans-03 m-r-15">
									{{comment_count}} Comment
								</a>
							</div>

							<div class="wrap-pic-max-w p-b-30">
								<img class="img-thumbnail" style="display: inline-block; width: 750px; height: 450px;" src="{{detail.picurl}}" alt="IMG">
							</div>

							<p class="f1-s-11 cl6 p-b-25">
								{{detail.body_txt | safe | linebreaksbr}}
							</p>
							

							<!-- Share -->
							<div class="flex-s-s">
								<span class="f1-s-12 cl5 p-t-1 m-r-15">
									Share:
								</span>
								
								<div class="flex-wr-s-s size-w-0">
									<a href="#" class="dis-block f1-s-13 cl0 bg-facebook borad-3 p-tb-4 p-rl-18 hov-btn1 m-r-3 m-b-3 trans-03">
										<i class="fab fa-facebook-f m-r-7"></i>
										Facebook
									</a>

									<a href="#" class="dis-block f1-s-13 cl0 bg-twitter borad-3 p-tb-4 p-rl-18 hov-btn1 m-r-3 m-b-3 trans-03">
										<i class="fab fa-twitter m-r-7"></i>
										Twitter
									</a>

									<a href="#" class="dis-block f1-s-13 cl0 bg-google borad-3 p-tb-4 p-rl-18 hov-btn1 m-r-3 m-b-3 trans-03">
										<i class="fab fa-google-plus-g m-r-7"></i>
										Google+
									</a>

									<a href="#" class="dis-block f1-s-13 cl0 bg-pinterest borad-3 p-tb-4 p-rl-18 hov-btn1 m-r-3 m-b-3 trans-03">
										<i class="fab fa-pinterest-p m-r-7"></i>
										Pinterest
									</a>
								</div>
							</div>
						</div>

						<!-- <p>
							<a href="{% url 'news_detail_short' word=detail.rand %}">/urls/{{ detail.rand }}</a>
						</p><br> -->
						
							{% qr_from_text short_link size=10 border=6 %}

							<div>
								{% if comment_count != 0%}
								<div class="how2 how2-cl4 flex-s-c m-b-30">
									<h3 class="f1-m-2 cl3 tab01-title">
										Comments
									</h3>
								</div>
								{% endif %}
								{% for com in comment %}
								<h3 class="f1-l-4 cl3 p-b-12">
									{{com.name}} | {{com.date | naturaltime}}
								</h3>
	
								<p class="f1-s-13 cl8 p-b-40">
									{{com.comment}}
								</p>
								{% endfor %}
							</div>

						<!-- Leave a comment -->
						<div>
							<h4 class="f1-l-4 cl3 p-b-12">
								Leave a Comment
							</h4>

							<p class="f1-s-13 cl8 p-b-40">
								Your email address will not be published. Required fields are marked *
							</p>
							<!-- check for user login -->
							{% if user.is_authenticated %}
							<form action="{% url 'news_comment_add' pk=code %}" method="POST" enctype="multipart/form-data">
								{% csrf_token %}
								<textarea class="bo-1-rad-3 bocl13 size-a-15 f1-s-13 cl5 plh6 p-rl-18 p-tb-14 m-b-20" name="msg" placeholder="Comment..." required></textarea>

								<button class="size-a-17 bg2 borad-3 f1-s-12 cl0 hov-btn1 trans-03 p-rl-15 m-t-10">
									Post Comment
								</button>
							</form>
							{% else %}
							<form action="#" method="POST" enctype="multipart/form-data"> 
								{% csrf_token %}
								<textarea class="bo-1-rad-3 bocl13 size-a-15 f1-s-13 cl5 plh6 p-rl-18 p-tb-14 m-b-20" name="msg" placeholder="Comment..." required></textarea>

								<input class="bo-1-rad-3 bocl13 size-a-16 f1-s-13 cl5 plh6 p-rl-18 m-b-20" type="text" name="name" placeholder="Name*" required >

								<input class="bo-1-rad-3 bocl13 size-a-16 f1-s-13 cl5 plh6 p-rl-18 m-b-20" type="text" name="email" placeholder="Email*" required>

								<button class="size-a-17 bg2 borad-3 f1-s-12 cl0 hov-btn1 trans-03 p-rl-15 m-t-10">
									Post Comment
								</button>
							</form>
							{% endif %}
						</div>
					</div>
				</div>
				
				<!-- Sidebar -->
				<div class="col-md-10 col-lg-4 p-b-30">
					<div class="p-l-10 p-rl-0-sr991 p-t-70">						
						<!-- Category -->
						<div class="p-b-60">
							<div class="how2 how2-cl4 flex-s-c">
								<h3 class="f1-m-2 cl3 tab01-title">
									Category
								</h3>
							</div>

							<ul class="p-t-35">
								{% for p in cat %}
								{% if p.count != 0 %}
								<li class="how-bor3 p-rl-4">
									<a href="{% url 'news_all_show' word=p.name %}" class="dis-block f1-s-10 text-uppercase cl2 hov-cl10 trans-03 p-tb-13">
										{{p.name}} ({{p.count}})
									</a>
								</li>
								{% endif %}
								{% endfor %}
							
							</ul>
                        </div>
                        
						<!-- Popular Posts -->
						<div class="p-b-30">
							<div class="how2 how2-cl4 flex-s-c">
								<h3 class="f1-m-2 cl3 tab01-title">
									Popular Post
								</h3>
							</div>
							
							{% for pop in popnews %}
							{% if pop.ocatid == detail.ocatid %}
							
							<ul class="p-t-35">
								<li class="flex-wr-sb-s p-b-30">
									<a href="{% url 'news_detail' word=pop.name %}" class="size-w-10 wrap-pic-w hov1 trans-03">
										<img src="{{pop.picurl}}" alt="IMG">
									</a>

									<div class="size-w-11">
										<h6 class="p-b-4">
											<a href="{% url 'news_detail' word=pop.name %}" class="f1-s-5 cl3 hov-cl10 trans-03">
												{{pop.name.title}}
											</a>
										</h6>

										<span class="cl8 txt-center p-b-24">
											<a href="{% url 'news_detail' word=pop.name %}" class="f1-s-6 cl8 hov-cl10 trans-03">
												{{pop.catname}}
											</a>

											<span class="f1-s-3 m-rl-3">
												-
											</span>

											<span class="f1-s-3">
												{{pop.date | naturaltime }}
											</span>
										</span>
									</div>
								</li>
	
							</ul>
							
							{% endif %}
							{% endfor %}
						</div>

						<!-- Tag -->
						<div>
							<div class="how2 how2-cl4 flex-s-c m-b-30">
								<h3 class="f1-m-2 cl3 tab01-title">
									Tags
								</h3>
							</div>

							<div class="flex-wr-s-s m-rl--5">
								{% for tagname in tag %}
								<a href="#" class="flex-c-c size-h-2 bo-1-rad-20 bocl12 f1-s-1 cl8 hov-btn2 trans-03 p-rl-20 p-tb-5 m-all-5">
									{{tagname}}
								</a>
								{% endfor %}

							</div>	
						</div> <br>

						<!-- QR CODE -->
						<div>
								<div class="how2 how2-cl4 flex-s-c m-b-30">
									<h3 class="f1-m-2 cl3 tab01-title">
										QR CODE
									</h3>
								</div>
	
								<div class="flex-wr-s-s m-rl--5">
										<!-- qr_code for newsdetail -->
									{% qr_from_text link size=20 border=6 %}
	
								</div>	
							</div>
					</div>
				</div>
			</div>
		</div>
	</section>

{% endfor %}
	

{% endblock %}